:root {
  --backgroundDark: #212529;
  --topicFont: "Quicksand", sans-serif;
  --componentDark: #343a40;
  --fontLight: #e9ecef;
  --green: rgb(6, 214, 160);
}

.app {
  display: grid;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  /* background-image: url("./image/background-plain.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--backgroundDark);
  grid-template-columns: 10vw minmax(0, 1fr) 10vw;
  grid-template-rows: 10vh 30vh auto;
  grid-template-areas:
    ". header ."
    ". mainContent ."
    ". mainContent .";
  z-index: -2;
}

p {
  color: var(--fontLight);
  margin: 2px 0 2px 0;
}

.app::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--backgroundDark);
}

.app::-webkit-scrollbar {
  width: 6px;
  background-color: var(--backgroundDark);
}

.app::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* Header */

.header {
  box-shadow: var(--backgroundDark);
  /* text-align: center; */
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  text-decoration: none;
  color: var(--fontLight);
  font-family: var(--topicFont);
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block;
}
.indexBar {
  width: 100%;
  text-align: end;
}
.indexBarTitle {
  color: var(--fontLight);
  font-size: 1.25em;
  font-family: var(--topicFont);
  font-weight: 300;
  text-align: center;
}

.indexBarItem {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 0px 40px 0px 0px;
  text-align: left;
}

.whiteSpace {
  padding: 10px;
  color: #4fc3a1;
}

li {
  font-size: 1rem;
  text-align: left;
}

.indexCompanyName {
  font-size: 0.8rem;
  color: grey !important;
}

/* MainContent */

.mainContent {
  /* width: 100vw; */
  width: auto;
  /* height: 90vh; */
  grid-area: mainContent;
  display: flex;
  position: relative;
}

.leftContent {
  grid-area: leftContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.MainPic {
  z-index: 0;
  height: 80vh;
  position: absolute;
  margin-left: 15vw;
}

/* Headline */

.headline {
  color: var(--fontLight);
  font-size: 4.5rem;
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

.subheadline {
  color: var(--fontLight);
  font-size: 1.5rem;
  font-family: var(--topicFont);
  font-weight: 500;
}

/* Search Bar */

.searchContainer {
  padding: 15px 0px 5px 0px;
}

.searchBar {
  height: 30px;
  width: 200px;
  border-radius: 30px;
  background: #00000000;
  border: 0.15rem solid var(--green);
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 20px;
  font-family: "Epilogue", sans-serif;
  font-size: x-large;
  color: var(--fontLight);
}

.searchBar::-webkit-input-placeholder {
  /* padding-right: 15px; */
  /* color: rgba(2, 2, 2, 0.61); */
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
}

.searchBar::-webkit-input-placeholder:focus {
  border-bottom: var(--fontLight) 1px solid;
}

.searchIcon {
  color: rgb(255, 255, 255, 0.61);
  position: absolute;
  left: 25vw;
  bottom: 36vh;
  display: none;
}

.searchButton {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.invisibleButton {
  display: none;
}

/* Detail page */

.detailPage {
  grid-area: mainContent;
  background-color: rgba(2, 2, 2, 0.4);
  display: grid;
  border-radius: 15px;
  /* min-height: 100%;   */
  grid-template-columns: 5vw minmax(0, 1fr) 5vw;
  grid-template-rows: auto auto 8vh auto;
  grid-template-areas:
    ". profile ."
    ". chart ."
    ". tabs ."
    ". table .";
}

/* Profile */
.stockProfile {
  display: flex;
  padding: 15px 0px 30px 0px;
  max-width: 100%;
  grid-area: profile;
  overflow: hidden;
}

/* .companyLogo {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: var(--fontLight);
  align-self: center;
}

.companyLogo img {
  object-fit: contain;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
} */

.companyName {
  font-family: var(--topicFont);
  font-size: 3rem;
  color: var(--fontLight);
}

.companyInfo {
  margin-left: 25px;
  width: auto;
  max-width: 100%;
  height: 100%;
}

.flex-row {
  padding-top: 10px;
}

.companyDescription {
  white-space: nowrap;
  width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.companyDescriptionExpanded {
  width: 60vw;
  height: 100%;
  text-overflow: initial;
  white-space: normal;
}

.companyInfo h2 {
  font-size: rem;
}

.companyInfo a:link {
  color: var(--fontLight);
}

.companyInfo a:link {
  color: white;
}

.readMore {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 0 0 5px;
  color: #343a40;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover,
.glow {
  color: #06d6a0;
  text-shadow: 0 0 10px #06d6a0;
}
/* 
.stockProfile .companyInfo p {
  margin: 5px 0 5px 0;
  width: 60vw;
} */

.stockProfile .companyInfo a {
  color: #06d6a0;
}

/* Chart */
.stockChart {
  /* padding: 0 40px 0 40px; */
  max-width: 100%;
  grid-area: chart;
  height: 50vh;
  background-color: #0000006c;
  border-radius: 5px;
}

.stockChartMobile {
  display: none;
  grid-area: chart;
  background-color: #0000006c;
  border-radius: 15px;
}

canvas {
  height: 400px;
  padding: 10px;
}

/* Table */
.stockTable {
  padding: 0 0px 60px 0px;
  max-width: 100%;
  grid-area: table;
  height: 100%;
}

.MuiPaper-root {
  background-color: #0000006c !important;
  color: var(--fontLight) !important;
  padding: 10px 30px 10px 30px;
}

.MuiTablePagination-root {
  color: var(--fontLight) !important;
  border-bottom: none !important;
}

.MTablePaginationInner-root-14 {
  color: var(--fontLight) !important;
}
.MuiIconButton-root {
  color: var(--fontLight) !important;
}

.MuiPaper-rounded {
  border-radius: 10px !important;
}

/* Fundamentals */

/* Swithcer for different tabs */
.Switcher {
  display: flex;
  padding: 5px 0px 5px 0px;
  justify-content: flex-start;
  grid-area: tabs;
  margin: auto;
  margin-left: 0;
}
.SwitcherTab {
  max-height: 20px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  background: #0000006c;
  transition: background 0.2s;
}

.SwitcherTab:hover {
  background: #1d1d1d6c;
}

.SwitcherTab:focus {
  background: #1d1d1d6c;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  /* mobile nav */
  .header {
    padding: 10px 0 10px 0;
    height: 5vh;
    justify-content: center;
  }

  .title {
    align-items: center;
  }

  .companyName {
    font-size: 2rem;
    padding-top: 10px;
  }

  .indexBarItem {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .whiteSpace {
    padding: 0 2px 0 5px;
  }

  /* Main content */

  .mainContent {
    flex-direction: column;
  }

  .leftContent {
    order: 2;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .rightContent {
    margin: auto;
    margin-top: 50px;
    order: 1;
  }
  .MainPic {
    display: block;
    position: static;
    height: 40vh;
    margin-left: 3vw;
  }

  .headline {
    font-size: 2.5rem;
    margin-bottom: 2vh;
    text-align: center;
  }

  .subheadline {
    text-align: center;
    font-size: 1rem;
  }

  form {
    text-align: center;
  }

  .searchBar {
    width: auto;
  }

  .searchIcon {
    left: 78vw;
    bottom: 17vh;
  }

  /* Details */

  .app {
    grid-template-columns: 2vw minmax(0, 1fr) 2vw;
    grid-template-rows: 10vh auto;
    grid-template-areas:
      ". header ."
      ". mainContent .";
    font-size: 10px;
  }

  .detailPage {
    grid-template-columns: 2vw minmax(0, 1fr) 2vw;
    grid-template-areas:
      ". profile ."
      ". chart ."
      ". tabs ."
      ". table .";
    justify-content: center;
    align-items: center;
  }

  /* Profile */

  .stockProfile {
    margin: 15px 0px 15px 0px;
    padding: 0;
  }

  .stockChart {
    display: none;
  }

  .stockChartMobile {
    display: block;
    /* max-width: 90vw; */
    height: 40vh;
  }

  .stockChartMobile canvas {
    height: 100%;
  }

  .Switcher {
    padding: 5px;
  }

  /* Table */

  .stockTable {
    padding: 0 0 0 0;
  }

  .MuiTablePagination-root {
    color: var(--fontLight) !important;
    border-bottom: none !important;
  }

  .MuiTableCell-root {
    padding: 5px !important;
  }

  .MTablePaginationInner-root-14 {
    color: var(--fontLight) !important;
  }
  .MuiIconButton-root {
    color: var(--fontLight) !important;
  }

  .MuiPaper-rounded {
    border-radius: 10px !important;
  }

  .newsUrl {
    white-space: nowrap;
    /* width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

@media only screen and (max-width: 724px) {
  .indexBar {
    display: none;
  }
}
