:root {
  --dark: #1a1919;
  --topic: "Quicksand", sans-serif;
}

.app {
  /* background-color: #1a1919; */
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.app p {
  color: #fff;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(29, 29, 29);
  box-shadow: #1a1919;
  text-align: center;
  height: 5vh;
}

.title {
  text-decoration: none;
  margin-left: 70px;
  color: #fff;
  /* padding: 70px 0px 0px 70px; */
  font-family: var(--topic);
  font-size: larger;
  font-weight: bold;
  display: inline-block;
}

/* MainContent */

.mainContent {
  background-image: url("./image/background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  width: 100vw;
  width: auto;
  height: 95vh;
}

.mainContent::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.651);
  /* z-index: 999;
  cursor: default;  */
}

.leftContent {
  /* width: 50vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Headline */

h1 {
  color: #fff;
  font-size: 5em !important;
  font-family: "Epilogue", sans-serif;
  margin: 0px !important;
}

h2 {
  color: #fff;
  font-size: 1.5em !important;
  font-family: var(--topic);
  font-weight: 300;
}

/* Search Bar */

.searchContainer {
  padding: 15px 0px 5px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-right: 70px; */
  position: relative;
}

.searchBar {
  height: 60px;
  width: 200px;
  border-radius: 30px;
  background: #4fc3a1;
  border: none;
  text-align: left;
  color: rgb(20, 20, 20);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 40px;
  font-family: "Epilogue", sans-serif;
  font-size: x-large;
}

.searchBar:focus {
  border: none;
}

.searchBar::-webkit-input-placeholder {
  /* padding-right: 15px; */
  color: rgba(2, 2, 2, 0.61);
  font-size: large;
}

.searchBar::-webkit-input-placeholder:focus {
  border-bottom: #fff 1px solid;
}

.searchIcon {
  color: rgb(20, 20, 20);
  position: absolute;
  /* top: 47%; */
  left: 11vw;
  bottom: 30px;
}

.searchButton {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.invisibleButton {
  display: none;
}

/* MostGainerBar */

.indexBarTitle {
  color: #fff;
  font-size: 1.25em;
  font-family: var(--topic);
  font-weight: 300;
  text-align: center;
}

.indexBarItem {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 0px 40px 0px 0px;
}

.whiteSpace {
  padding: 10px;
  color: #4fc3a1;
}

.indexList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

li {
  font-size: 1rem;
  text-align: left;
}

.companyName {
  font-size: 0.8rem;
}

/* Stock Detail page */

.stockDetail {
  /* background-color: #696868; */
  height: 100%;
  width: 100vw;
  display: grid;
  /* background-color: #1a1919; */
}

/* Profile */
.companyLogo {
  display: flex;
  width:50px;
  height:50px;
  background-color: #fff;
  border-radius: 50%;
}

.companyLogo img {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

/* Chart */
/* .stockChart {
  width: 80vw;
} */

/* Table */
.MuiPaper-root {
  background-color: #696868;
}
