:root {
  --backgroundDark: #212529;
  --topicFont: "Quicksand", sans-serif;
  --componentDark: #343a40;
  --fontLight: #e9ecef;
  --green: rgb(6, 214, 160);
}

.app {
  overflow: hidden;
}

.app p {
  color: var(--fontLight);
  margin: 2px 0 2px 0;
}

/* Header */

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
  /* background-color: rgb(29, 29, 29); */
  box-shadow: var(--backgroundDark);
  text-align: center;
  height: 10vh;
  padding: 20px 70px 0px 70px;
}

.title {
  text-decoration: none;
  color: var(--fontLight);
  /* padding: 70px 0px 0px 70px; */
  font-family: var(--topicFont);
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block;
}

/* MainContent */

.mainContent {
  /* background-image: url("./image/background.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #14213d; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  width: auto;
  height: 90vh;
  padding-left: 70px;
}

.mainPage {
  background-image: url("./image/background.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  /* background-color: #14213d; */
}

.leftContent {
  /* width: 50vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Headline */

h1 {
  color: var(--fontLight);
  font-size: 5em !important;
  font-family: "Epilogue", sans-serif;
  margin: 0px !important;
}

h2 {
  color: var(--fontLight);
  font-size: 1.5em !important;
  font-family: var(--topicFont);
  font-weight: 300;
}

/* Search Bar */

.searchContainer {
  padding: 15px 0px 5px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-right: 70px; */
  position: relative;
}

.searchBar {
  height: 60px;
  width: 200px;
  border-radius: 30px;
  background: var(--green);
  border: none;
  text-align: left;
  color: rgb(20, 20, 20);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 40px;
  font-family: "Epilogue", sans-serif;
  font-size: x-large;
}

.searchBar:focus {
  border: none;
}

.searchBar::-webkit-input-placeholder {
  /* padding-right: 15px; */
  color: rgba(2, 2, 2, 0.61);
  font-size: large;
}

.searchBar::-webkit-input-placeholder:focus {
  border-bottom: var(--fontLight) 1px solid;
}

.searchIcon {
  color: rgb(20, 20, 20);
  position: absolute;
  /* top: 47%; */
  left: 11vw;
  bottom: 30px;
}

.searchButton {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

.invisibleButton {
  display: none;
}

.indexBarTitle {
  color: var(--fontLight);
  font-size: 1.25em;
  font-family: var(--topicFont);
  font-weight: 300;
  text-align: center;
}

.indexBarItem {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 0px 40px 0px 0px;
  text-align: left;
}

.whiteSpace {
  padding: 10px;
  color: #4fc3a1;
}

.indexList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

li {
  font-size: 1rem;
  text-align: left;
}

.companyName {
  font-size: 0.8rem;
  color: grey !important;
}

/* Stock Detail page */
.detailPage {
  background-image: url("./image/background-plain.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.stockDetail {
  background-color: rgba(2, 2, 2, 0.61);
  display: grid;
  margin: 50px 50px 0 50px;
  border-radius: 15px;
}

/* Profile */
.stockProfile {
  margin: 25px 0 25px 0;
  display: flex;
  padding: 15px 30px 30px 30px;
  /* border-radius: 15px; */
}

.companyLogo {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: var(--fontLight);
  align-self: center;
}

.companyLogo img {
  object-fit: contain;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.profileCompanyName {
  font-family: var(--topicFont);
  font-size: 3rem;
  color: var(--fontLight);
}

.companyInfo {
  margin-left: 25px;
  width: auto;
  max-width: 100%;
}

.companyInfo h2 {
  font-size: rem;
}

.companyInfo a:link {
  color: var(--fontLight);
}

.companyInfo a:link {
  color: white;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover,
.glow {
  color: #06d6a0;
  text-shadow: 0 0 10px #06d6a0;
}

.stockProfile .companyInfo p {
  margin: 5px 0 5px 0;
}

.stockProfile .companyInfo a {
  color: #06d6a0;
}


/* Chart */
.stockChart {
  padding: 0 40px 0 40px;
}

/* Table */
.stockTable {
  padding: 0 40px 0 40px;
}

/* Fundamentals */

/* Swithcer for different tabs */
.Switcher {
  display: flex;
  padding: 30px 0 30px 0;
  justify-content: center;
}
.SwitcherTab {
  padding: 15px 30px 15px 30px;
  border: 1px solid var(--fontLight);
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
}
